* {
  padding: 0;
  margin: 0;
  
}

.body {
  width: 1280px;
  height: 1626px;
  margin: auto;
}
.header-body {
  background-image: url(./img/image\ 1.png);
  height: 789px;
  width: 1280px;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
  width: 620px;
  height: 35px;
  padding: 31.5px 0px 15px 330px;
}

.main {
  width: 1280px;
  height: 650px;
  margin-top: 15px;
}
.topnav {
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: red;
}

.topnav:hover {
  color: aqua;
}

.h2-title {
  text-align: center;
  padding: 15px;
}

.paragraf {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 2.4000000953674316px;
  margin: 0px 40px 0px 40px;

}

.redbutton {
  width: 191px;
  height: 45px;
  margin: 10px;
  background: #ff0000;
  border-radius: 4px;
  font-family: Montserrat;
  font-size: 12px;
  color: aliceblue;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1.7999999523162842px;
}
.cover-button {
  text-align: center;
  padding: 55px;
}

.footer {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.4000000953674316px;
  text-align: right;
  margin-right: 40px;
 
}
